<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - KOİNİM </title>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <div class="content-wrapper">

            <div class="float-left">

                <p class="site-title"><img src="~/Images/logo_new.png" /></p>
            </div>

            <div class="float-right">
                <section id="login">
                    @if (WebSecurity.IsAuthenticated)
                    {
                        <text>
                            Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                            <form id="logoutForm" action="~/Account/Logout" method="post">
                                @AntiForgery.GetHtml()
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                            </form>
                        </text>
                    }
                    else
                    {
                        <ul></ul>
                    }
                </section>
                <nav>
                    <ul id="menu">
                        <li><a href="~/Account/Register.cshtml">Üye olun</a></li>
                        <li> <a href="~/Account/Login.cshtml">Giriş</a></li>
                        <li><a href="~/Default.cshtml">Anasayfa</a></li>
                        <li><a href="~/Contact.cshtml">İletişim</a></li>
                    </ul>
                </nav>
            </div>
            <div>@RenderBody()</div>
        </div>
    </header>

    @RenderSection("Scripts", required: false)
</body>
</html>